<div class="container">

    <div class="ui-g">
      <div class="ui-g-12 center">
        <h4>Escolha seu usuario:</h4>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-dataTable [value]="lideres" [responsive]="true">
          <p-column field="id" header="Codigo"></p-column>
          <p-column field="nome" header="Nome"></p-column>
          <p-column field="perfil" header="Perfil"></p-column>
          <p-column>
              <ng-template let-dev="rowData" pTemplate="body">
                <a pButton label="Compromissos"
                  [routerLink]="['/lider/compromissos/equipe/', dev.id]"></a>
              </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>

  </div>
